%h1.mb-4 Список курсів
%p.lead
  Всього:
  %span.badge.badge-pill.badge-primary= @courses.count

%table.table.table-hover
  %thead.thead-dark
    %tr
      %th Title
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.title
        %td= course.description
        %td= course.user
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
%br

= link_to 'New Course', new_course_path, class: "btn btn-success mb-2"