!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Progter
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
      = link_to "ProgTer club", root_path, class: "navbar-brand" 
      %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNavAltMarkup.collapse.navbar-collapse
        .navbar-nav
          = link_to "Home", home_index_path, class: "nav-item nav-link" 
          = link_to "Courses", courses_path, class: "nav-item nav-link"
        %form.form-inline.my-2.my-lg-0.ml-auto
          %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
          %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search

    .container-fluid
      = yield
